<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>42407133838-1cteii1f7i5guijum0q9e4qpff9gpc12.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.42407133838-1cteii1f7i5guijum0q9e4qpff9gpc12</string>
	<key>API_KEY</key>
	<string>AIzaSyA5ZgMuK3fD-Us9UiJ7_eR7VV_0y-4BQcQ</string>
	<key>GCM_SENDER_ID</key>
	<string>42407133838</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.haghl.fooddeliveryapp</string>
	<key>PROJECT_ID</key>
	<string>fooddeliveryapp-e2acf</string>
	<key>STORAGE_BUCKET</key>
	<string>fooddeliveryapp-e2acf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:42407133838:ios:18a954050e267c4636bfdf</string>
</dict>
</plist>
